body {
    font-family: sans-serif;
    margin: 1em auto;
    max-width: 40em;
    padding: 0 1em;
    color: #222;
}
header, footer, .center {
    text-align: center;
}
ul {
    list-style: circle;
}
a {
    color: inherit;
}
a: hover {
    background: gray;
}
footer {
    color: #b64a4a;
}
@media only screen and (prefers-color-scheme: dark) {
    body {
        color: #efefef;
        background: #232323;
    }
    a: hover {
        background: #565656;
    }
}
@media only screen and (prefers-color-scheme: dark) and (orientation: portrait) {
    body {
        color: #ccc;
        background: black;
    }
    a: hover {
        background: #333;
    }
}
